black==23.12.1
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
greenlet==3.1.1
inflate64==1.0.0
iniconfig==2.0.0
multivolumefile==0.2.3
mypy-extensions==1.0.0
packaging==24.1
pathlib==1.0.1
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
psutil==6.1.0
py7zr==0.20.8
pybcj==1.0.2
pycryptodomex==3.21.0
pyppmd==1.1.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
pytest==7.4.4
pyzstd==0.16.2
rarfile==4.0
shiboken6==6.6.1
SQLAlchemy==2.0.25
texttable==1.7.0
typing_extensions==4.12.2
